<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <title>Flask API</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">This project is made Flask API Practice</h1>
        <form method="POST" action="/work">
            <div class="form-group">
                <input type="number" name="number" class="form-control" style="height: 50px;" placeholder="Enter a number" required>
            </div>
            <div class="form-group text-center">
                <button type="submit" name="Palindrome" class="btn btn-danger" style="width: 200px; height: 50px;">Check Palindrome</button>
                <button type="submit" name="Square" class="btn btn-primary" style="width: 200px; height: 50px;">Square the Number</button>
                <button type="submit" name="Fibonnaci" class="btn btn-primary" style="width: 200px; height: 50px;">Fibonnaci</button>
            </div>
        </form>
    </div>
</body>
</html>
